@using Microsoft.AspNetCore.Identity
@using REASite.Areas.Identity.Data

@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            @if (User.IsInRole("Admin"))
            {
                <a id="manage" class="nav-link text-light" asp-controller="Admin" asp-action="Users" title="Manage">
                    Hello @UserManager.GetUserName(User)!
                </a>
            }
            else
            {
                <a id="manage" class="nav-link text-light" asp-controller="Account" asp-action="Index" title="Manage">
                    Hello @UserManager.GetUserName(User)!
                </a>
            }
        </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
        </form>
    </li>
}
</ul>
