@{
}
<section id="search-property">
    <h2>Поиск объектов</h2>
    <input type="text" id="search-type" placeholder="Тип сделки">
    <input type="number" id="search-rooms" placeholder="Комнаты">
    <input type="number" id="search-area" placeholder="Площадь">
    <button id="search-button">Поиск</button>
</section>
