@{
}

<section id="add-property">
    <h2>Добавить новый объект</h2>
    <input type="text" id="property-name" placeholder="Название/Описание">
    <input type="number" id="property-area" placeholder="Площадь (кв.м)">
    <input type="number" id="property-rooms" placeholder="Количество комнат">
        <select id="property-type">
            <option value="Аренда">Аренда</option>
            <option value="Продажа">Продажа</option>
        </select>
    <input type="file" id="property-image" accept="image/*"> <!-- Поле для загрузки изображения -->
    <button id="add-property-button">Добавить</button>
</section>
