html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* tab navigation styles */
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px; /* Top, right, bottom, left padding */
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px; /* Top, right, bottom, left margin */
}

.login-logout-card .nav-item {
    width: 50%; /* Sets width to 50% of parent container */
}

.login-logout-card .nav-link {
    font-size: 1rem; /* Font size in rem units */
    color: #495057; /* Dark gray color for text */
    text-align: center; /* Centers the text horizontally */
    padding: 1rem; /* Padding around the link */
}

.login-logout-card .card-body {
    padding: 10px 20px
}